$paletteColor1: #000;
$paletteColor2: #FFF;
$paletteColor3: #E9EBEE;
$paletteColor4: #808080;
$paletteColor5: #90949C;
$paletteColor6: #4267B2;
$paletteColor7: #365899;
$paletteColor8: #282828;
$paletteColor9: #616770;
$paletteColor10: #E1E2E3;
$paletteColor11: #F6F7F9;

// my colors
$crimson: crimson;
$darkslateblue: darkslateblue;
$green: #60c84c;
$modalActivebg: rgba(57, 82, 123, 0.8);
$boxShadow: rgba(0,0,0,0.06);
$placeholder: #dedede;
$border: #eeeeee;
$task: #fcfcfc;
$taskName: #39527b;